/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body {
	background: #f6f6f6 url('/assets/background.png') repeat fixed;
  
}

.logo {
  position: absolute;
  top:0px;
  left:10px;
}

.wrapper {
  background-color:white;
  width: 94%;
  margin:auto;
  margin-top:135px;
  min-height:400px;
  padding:10px;
  border: 1px solid #EDEDED;
}

.left-half {
  width:45%;
  float:left;
  background-color:black;
  height:40;
}

.darker {
padding: 10px;
background-color: #F1F1F1;
margin-bottom: 16px;
}

.right-half {
  float:left;
  margin-left: 30px;
}
